<link
  href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<header>
  <nav>
    <div class="mobile">
      <div class="mobile__header">
        <div class="mobile__logo">
          <a href="#">Guatemala Traveler</a>
        </div>
        <div class="mobile__search">
          <input type="text" placeholder="Buscar destino" />
          <button>
            <span class="material-symbols-outlined"> search </span>
          </button>
        </div>
        <div class="mobile__menu">
          <button class="menu-btn">
            <span class="material-symbols-outlined"> menu </span>
          </button>
        </div>
      </div>
      <div class="mobile__links">
        <a href="#guatemala">Guatemala</a>
        <a href="#lagoAtitlan">Atitlán</a>
        <a href="#livingston">Livingston</a>
        <a href="#acatenango">Acatenango</a>
        <a href="#contact">Contactenos</a>
      </div>
    </div>
    <div class="desktop">
      <div class="desktop__logo">
        <a class="navbar-brand" href="/"
          ><img
            src="https://e7.pngegg.com/pngimages/913/536/png-clipart-ea-sports-electronic-arts-sports-game-madden-nfl-18-video-game-sports-logo-angle-text.png"
            alt="Navbar"
        /></a>
      </div>
      <div class="desktop__links">
        <a href="/players">Players</a>
        <a href="/auth/account">User</a>
        <a href="/nations">Nations</a>
      </div>
      <div class="desktop__search">
        <div class="action-button">
          <a class="btn btn-dark" href="/auth">Sign In</a>
          <a class="btn btn-outline-dark" href="/auth/logout">Logout</a>
        </div>
      </div>
      <div class="desktop__links-mini">
        <button class="">
          <span class="material-symbols-outlined"> menu </span>
        </button>
        <div class="submenu">
          <a href="#guatemala">Guatemala</a>
          <a href="#lagoAtitlan">Atitlán</a>
          <a href="#livingston">Livingston</a>
          <a href="#acatenango">Acatenango</a>
          <a href="#contact">Contactenos</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container"></div>

<div class="container-1" id="guatemala"></div>

<div class="container-2" id="lagoAtitlan"></div>

<div class="container-3" id="livingston"></div>

<div class="container-4" id="acatenango"></div>

<div class="container-5" id="contact"></div>
